/*Artist Section*/

.events {
    width: 100%;
    height: auto;
    padding: 20px !important;
}

.events .list {
    width: 100%;
    height: auto;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 30px 0px;
}


.events .list .event {
    min-width: 220px;
    max-width: 35%;
    height: 320px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.events .list .event:hover {
    background-color: rgba(190, 190, 190, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.events .list .event img {
    max-width: 180px;
    min-height: 175px;
    max-height: 250px;
}

.events .list .event .name {
    max-width: 150px;
    height: fit-content;
    padding: 15px 0px;
    margin: 0 auto;
    font-size: 0.9rem;
}